h3.table_title {

}

.td_div_icon {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    overflow: hidden;
}

th.icon {
    width: 20%;
}

th.text {
    width: 20%;
    /*alignment: center;*/
}

h2.prompt {
    font-weight: bold;
    color: #ff6666;
}

h2.warning {
    color: red;
}

p.return-home-info {
    align-content: center;
    color: red;
    font-size: 50px;
}