{% extends 'bootstrap/base.html' %}

{% block styles %} {# 样式块 #}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">{# 下面的这种方式加载 css也是可以的 #}
{% endblock %}

{% block head %} {# 显示网站小图标 #}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/fruit.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icons/fruit.png') }}" type="image/x-icon">
{% endblock %}
{% block title %}
    {% if title %}
        {{ title }} - {{ _('Fruit Supermarket') }}
    {% else %}
        {{ _('Fruit Supermarket') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="cart_page" class="container">
        {% if fruit_list is not none and fruit_list | length > 0 %}
            <h3 class="table_title">{{ _('Your order') }}</h3>
            <table class="table table-hover">
                <tr>{# 购物车里的水果表头 #}
                    <th class="icon">{{ _('Icon') }}</th>
                    <th class="text">{{ _('Name') }}</th>
                    {#                <th class="text">{{ _('Describe') }}</th>#}
                    <th class="text">{{ _('Unit Price') }}</th>
                    <th class="text">{{ _('Net Weight') }}</th>
                    <th class="text">{{ _('Subtotal') }}</th>
                </tr>
                <tbody id="old_fruit_list_id">
                {% include '_fruit.html' %}{# 显示购物车里的水果列表 #}
                </tbody>
            </table>
            <ul class="nav navbar-default navbar-nav navbar-right">
                <li><a>{{ _('%(count)d pieces in total',count=fruit_list | length) }}</a></li>
                <li><a>{{ _('Total %(count)s yuan',count=total) }}</a></li>
                <button type="button" class="btn btn-default navbar-btn" onclick="send()">{{ _('Payment') }}</button>
            </ul>
        {% else %}
            <h3 class="table_title">{{ _('You have no unpaid orders') }}</h3>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }} <!--它直接生成了一个<script>标签并在其中包含moment.js：-->
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript">
        var socket = io('/')
        $(function () {
            get();
        })

        function send() {
            var content = "1";
            socket.emit('settlement', content);
        }

        function get() {
            socket.on('settlement', function (data) {
                console.log(data);
                scrollToEnd();
            })
        }

        function scrollToEnd() {//滚动到底部
            var h = $(document).height() - $(window).height();
            $(document).scrollTop(h);
        }
    </script>
{% endblock %}